/* VERSÃO NOVA E DEFINITIVA */
@config "../../tailwind.config.ts";
@import "tailwindcss";

/* O resto do seu CSS pode vir depois */
:root {
    --highlight-shadow: 88, 138, 192;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
.input-theme {
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    width: 50%;
}
.dark .input-theme:focus {
    box-shadow: 0 0 0 2px rgb(88, 138, 192);
    outline: none;
}

.dark .input-theme::placeholder {
    color: black;
    background: white;
}
.btn-theme {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 25%;
    background-color: rgb(88, 138, 192);
    color: white;
    padding: 5px;
}